<!DOCTYPE html>
<html lang="es">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body>
		<!--  
			.header_component: contenedor de la sesion, definimos un ID
			.para implementar este elemento en './src/js/main.js'
		-->
		<header class="header_component" id="header-component">
			<%- include('../partials/header'); %>
		</header>

		<!--  
            components_container: contenedor de nav_component y de main_components
        -->
		<div class="components_container">
			<!--  
				.nav_component: contenedor de la sesion, definimos un ID 
				.para implementar este elemento en './src/js/main.js'
			-->
			<nav class="nav_component" id="menu-nav">
				<%- include('../partials/navbar'); %>
			</nav>

			<!--  
				main_components: contenedor de section_banner, 
				sections_container y 1 tag-footer
			-->
			<main class="main_components">
				<!--  
					section_banner: contenedor de 1 tag-h2, de banner_line_titles
					y 1 tag-p
				-->
				<section class="section_banner">
					<!--  
						tag-h2: en esta definimos el titulo del banner
					-->
					<h2>Add</h2>

					<!--  
						banner_line_titles: esta tag la definimos para crear la
						linea del titulo
					-->
					<div class="banner_line_titles"></div>

					<!--  
						tag-p: en esta definimos el parrafo de la seccion
					-->
					<p>
						Cuando generamos un cambio en nuestro proyecto este se
						convierte en una nueva version para <strong>git</strong>
						En este apartado conoceremos los diferentes estados de
						esos cambios, las lineas donde se generaron y finalmente
						veremos como subir y bajar del stagin area esos cambios.
					</p>
				</section>

				<!--  
					sections_container: contenedor de las secciones que componen
					esta vista
				-->
				<div class="sections_container">
					<!--  
						sect_content: contenedor de 1 tag-h3 y de sect_box_img
					-->
					<section class="sect_content">
						<!--  
							tag-h3: en esta definimos el titulo de la seccion
						-->
						<h3>01. Estado de archivos pendientes</h3>

						<!--  
                            code_box: en esta definimos la guia de codigo en ejecucion
                        -->
						<p class="code_box">
							<span>></span> git <strong>status</strong>
						</p>

						<!--  
							sect_box_img: contenedor de 1 tag-img
						-->
						<div class="sect_box_img">
							<!--  
								tag-img: en esta definimos la imagen de la seccion
							-->
							<img
								src="./assets/images/add/g03.png"
								alt="estado de archivos pendientes"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>02. Verificando los cambios por lineas</h3>

						<p class="code_box">
							<span>></span> git <strong>diff</strong>
						</p>

						<div class="sect_box_img">
							<img
								src="./assets/images/add/g15.png"
								alt="verificando los cambios por lineas"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>03. Añadiendo los archivos al stagin area</h3>

						<p class="code_box">
							<span>></span> git <strong>add .</strong>
						</p>

						<div class="sect_box_img">
							<img
								src="./assets/images/add/g04.png"
								alt="añadiendo los archivos al stagin area"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>04. Estado de los archivos subidos con exito</h3>

						<p class="code_box">
							<span>></span> git <strong>status</strong>
						</p>

						<div class="sect_box_img">
							<img
								src="./assets/images/add/g05.png"
								alt="estado de los archivos subidos con exito"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>05. Bajando los archivos del stagin area</h3>

						<p class="code_box">
							<span>></span> git <strong>reset .</strong>
						</p>

						<div class="sect_box_img">
							<img
								src="./assets/images/add/g14.png"
								alt="bajando los archivos del stagin area"
							/>
						</div>
					</section>
				</div>

				<!--  
					section_footer
				-->
				<footer class="section_footer">Add - Git</footer>
			</main>
		</div>

		<!--  
			definicion de los custom js
		-->
		<script src="../../js/main.js"></script>
	</body>
</html>
