<!DOCTYPE html>

<html lang="es">
    <head>
        <%- include('../partials/head'); %>
    </head>

    <body>
        <!--  
			.header_component: contenedor de la sesion, definimos un ID
			.para implementar este elemento en './src/js/main.js'
		-->
        <header class="header_component" id="header-component">
            <%- include('../partials/header'); %>
        </header>

        <!--  
            components_container: contenedor de nav_component y de main_components
        -->
        <div class="components_container">
            <!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
            <nav class="nav_component" id="menu-nav"><%- include('../partials/navbar'); %></nav>

            <!--  
                main_components: contenedor de section_banner, sections_container
				y 1 tag-footer
            -->
            <main class="main_components">
                <!--  
                    section_banner: contenedor de 1 tag-h2, de banner_line_titles
                    y 1 tag-p
                -->
                <section class="section_banner">
                    <!--  
                        tag-h2: en esta definimos el titulo del banner
                    -->
                    <h2>Amend</h2>

                    <!--  
                        banner_line_titles: esta tag la definimos para crear la
                        linea del titulo
                    -->
                    <div class="banner_line_titles"></div>

                    <!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
                    <p>
                        Nos permite añadir cambios de ultimo minuto en un
                        <strong>commit</strong> existente, esta accion genera un nuevo codigo de
                        commit unico sin generar un nuevo commit, entre sus opciones nos permite
                        conservar la descripcion del <strong>commit</strong> existente o modificarla
                        por una nueva descripcion.
                    </p>
                </section>

                <!--  
					sections_container: contenedor de las secciones que componen
					esta vista
				-->
                <div class="sections_container">
                    <!--  
						sect_content: contenedor de 1 tag-h3 y de sect_box_img
					-->
                    <section class="sect_content">
                        <!--  
							tag-h3: en esta definimos el titulo de la seccion
						-->
                        <h3>01. Commit existente</h3>

                        <!--  
							sect_box_img: contenedor de 1 tag-img
						-->
                        <div class="sect_box_img">
                            <img
                                src="./assets/images/commit/amend/ame1.png"
                                alt="commit existente"
                            />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>02. Consultando el commit</h3>

                        <div class="sect_box_img">
                            <img
                                src="./assets/images/commit/amend/ame3.png"
                                alt="consultando el commit"
                            />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>03. Sobrescribiendo el commit conservando su descripcion</h3>

                        <!--  
                            code_box: en esta definimos la guia de codigo en ejecucion
                        -->
                        <p class="code_box">
                            <span>></span> git <strong>commit</strong> --amend --no-edit
                        </p>

                        <div class="sect_box_img">
                            <img
                                src="./assets/images/commit/amend/ame2.png"
                                alt="sobrescribiendo el commit"
                            />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>04. Consultando el commit</h3>

                        <div class="sect_box_img">
                            <img
                                src="./assets/images/commit/amend/ame3.png"
                                alt="consultando el commit"
                            />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>05. Sobrescribiendo el commit modificando su descripcion</h3>

                        <p class="code_box">
                            <span>></span> git <strong>commit</strong> --amend -m "descripcion"
                        </p>

                        <div class="sect_box_img">
                            <img
                                src="./assets/images/commit/amend/ame4.png"
                                alt="sobrescribiendo el commit"
                            />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>06. Consultando el commit</h3>

                        <div class="sect_box_img">
                            <img
                                src="./assets/images/commit/amend/ame5.png"
                                alt="consultando el commit"
                            />
                        </div>
                    </section>
                </div>

                <!--  
                    section_footer
                -->
                <footer class="section_footer">Amend - Commit</footer>
            </main>
        </div>

        <script src="./js/main.js"></script>
    </body>
</html>
