<!DOCTYPE html>

<html lang="es">
	<head>
		<%- include('../partials/head'); %>
	</head>

	<body>
		<!--  
			.header_component: contenedor de la sesion, definimos un ID
			.para implementar este elemento en './src/js/main.js'
		-->
		<header class="header_component" id="header-component">
			<%- include('../partials/header'); %>
		</header>

		<!--  
            components_container: contenedor de nav_component y de main_components
        -->
		<div class="components_container">
			<!--  
				.nav_component: contenedor de la sesion, definimos un ID 
				.para implementar este elemento en './src/js/main.js'
			-->
			<nav class="nav_component" id="menu-nav">
				<%- include('../partials/navbar'); %>
			</nav>

			<!--  
                main_components: contenedor de section_banner,
                section_container y 1 tag-footer
            -->
			<main class="main_components">
				<!--  
					section_banner: contenedor de 1 tag-h2, de banner_line_titles
					y 1 tag-p
				-->
				<section class="section_banner">
					<!--  
						tag-h2: en esta definimos el titulo del banner
					-->
					<h2>Log</h2>

					<!--  
						banner_line_titles: esta tag la definimos para crear la
						linea del titulo
					-->
					<div class="banner_line_titles"></div>

					<!--  
						tag-p: en esta definimos el parrafo de la seccion
					-->
					<p>
						Nos permite conocer detalles de los commits realizados
						en nuestro proyecto como lo son el codigo del commit, su
						descripcion, el usuario que lo genero y la fecha de
						creacion toda esta informacion es de suma importancia
						cuando necesitamos solucionar errores.
					</p>
				</section>

				<!--  
					sections_container: contenedor de las secciones que componen
					esta vista
				-->
				<div class="sections_container">
					<!--  
						sect_content: contenedor de 1 tag-h3 y de sect_box_img
					-->
					<section class="sect_content">
						<!--  
							tag-h3: en esta definimos el titulo de la seccion
						-->
						<h3>01. Conociendo el codigo de un commit</h3>

						<!--  
                            code_box: en esta definimos la guia de codigo en ejecucion
                        -->
						<p class="code_box">
							<span>></span> git <strong>log</strong> --oneline
						</p>

						<!--  
							sect_box_img: contenedor de 1 tag-img
						-->
						<div class="sect_box_img">
							<img
								src="./assets/images/log/log1.png"
								alt="conociendo el codigo de un commit"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>02. Conociendo el autor del commit - user</h3>

						<p class="code_box">
							<span>></span> git <strong>log</strong> --oneline
							--author "user"
						</p>

						<div class="sect_box_img">
							<img
								src="./assets/images/log/log3.png"
								alt="conociendo el autor del commit - user"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>03. Conociendo el autor del commit - email</h3>

						<p class="code_box">
							<span>></span> git <strong>log</strong> --oneline
							--author "email"
						</p>

						<div class="sect_box_img">
							<img
								src="./assets/images/log/log6.png"
								alt="conociendo el autor del commit - email"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>04. Conociendo un limite de commits</h3>

						<p class="code_box">
							<span>></span> git <strong>log</strong> --oneline -3
						</p>

						<div class="sect_box_img">
							<img
								src="./assets/images/log/log2.png"
								alt="modulo"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>05. Conociendo un commit por su fecha - antes</h3>

						<p class="code_box">
							<span>></span> git <strong>log</strong> --oneline
							--before "aa-dd-mm"
						</p>

						<div class="sect_box_img">
							<img
								src="./assets/images/log/log4.png"
								alt="conociendo un commit por su fecha - antes"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>06. Conociendo un commit por su fecha - despues</h3>

						<p class="code_box">
							<span>></span> git <strong>log</strong> --oneline
							--after "aa-dd-mm"
						</p>

						<div class="sect_box_img">
							<img
								src="./assets/images/log/log5.png"
								alt="conociendo un commit por su fecha - despues"
							/>
						</div>
					</section>
				</div>

				<!--  
                    section_footer
                -->
				<footer class="section_footer">Log - Git</footer>
			</main>
		</div>

		<script src="./js/main.js"></script>
	</body>
</html>
