<!DOCTYPE html>

<html lang="es">
    <head>
        <%- include('../partials/head'); %>
    </head>

    <body>
        <!--  
			.header_component: contenedor de la sesion, definimos un ID
			.para implementar este elemento en './src/js/main.js'
		-->
        <header class="header_component" id="header-component">
            <%- include('../partials/header'); %>
        </header>

        <!--  
            components_container: contenedor de nav_component y de main_components
        -->
        <div class="components_container">
            <!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
            <nav class="nav_component" id="menu-nav"><%- include('../partials/navbar'); %></nav>

            <!--  
                main_components: contenedor de section_banner, sections_container
				y 1 tag-footer
            -->
            <main class="main_components">
                <!--  
                    section_banner: contenedor de 1 tag-h2, de banner_line_titles
                    y 1 tag-p
                -->
                <section class="section_banner">
                    <!--  
                        tag-h2: en esta definimos el titulo del banner
                    -->
                    <h2>Conflicts</h2>

                    <!--  
                        banner_line_titles: esta tag la definimos para crear la
                        linea del titulo
                    -->
                    <div class="banner_line_titles"></div>

                    <!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
                    <p>
                        Estos se presentan al momento de fusionar las ramas cuando
                        <strong>git</strong> encuentra sobrescritura de archivos, es decir cuando
                        los mismos son modificados por una o mas personas, cabe recordar que para
                        realizar una fusion las ramas implicadas no deben tener commits pendientes y
                        que estos <strong>conflictos</strong> se solucionan especificando el cambio
                        correcto.
                    </p>
                </section>

                <!--  
					sections_container: contenedor de las secciones que componen
					esta vista
				-->
                <div class="sections_container">
                    <!--  
						sect_content: contenedor de 1 tag-h3 y de sect_box_img
					-->
                    <section class="sect_content">
                        <!--  
							tag-h3: en esta definimos el titulo de la seccion
						-->
                        <h3>01. Rama master</h3>

                        <!--  
							sect_box_img: contenedor de 1 tag-img
						-->
                        <div class="sect_box_img">
                            <img src="./assets/images/merge/conflicts/con1.png" alt="rama master" />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>02. Rama developers</h3>

                        <div class="sect_box_img">
                            <img
                                src="./assets/images/merge/conflicts/con2.png"
                                alt="rama developers"
                            />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>03. Ramas sin commits pendientes</h3>

                        <div class="sect_box_img">
                            <img
                                src="./assets/images/merge/conflicts/con3.png"
                                alt="ramas sin commits pendientes"
                            />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>04. Realizando la fusion entre ramas</h3>

                        <!--  
                            code_box: en esta definimos la guia de codigo en ejecucion
                        -->
                        <p class="code_box">
                            <span>></span> git <strong>merge</strong> "nombre-rama-actualizada"
                        </p>

                        <div class="sect_box_img">
                            <img
                                src="./assets/images/merge/conflicts/con4.png"
                                alt="realizando la fusion entre ramas"
                            />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>05. Conflicto en la fusion</h3>

                        <div class="sect_box_img">
                            <img
                                src="./assets/images/merge/conflicts/con5.png"
                                alt="conflicto en la fusion"
                            />
                        </div>
                    </section>

                    <section class="sect_content">
                        <h3>06. Conflicto solucionado</h3>

                        <div class="sect_box_img">
                            <img
                                src="./assets/images/merge/conflicts/con6.png"
                                alt="conflicto solucionado"
                            />
                        </div>
                    </section>
                </div>

                <!--  
                    section_footer
                -->
                <footer class="section_footer">Conflicts - Merge</footer>
            </main>
        </div>

        <script src="./js/main.js"></script>
    </body>
</html>
